.addonskit-special-title {
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 80px;
    color: #221F3F;
    line-height: 1.25;
}

.addonskit-special-title span{
    display: inline;
}

.addonskit-special-title .special-title-first {
    color: #FB5252;
}

.addonskit-special-title .special-title-last{
    display: inline-block;
} 

@media (max-width: 767px){
    .addonskit-special-title{
        font-size: 48px;
    }
}

@media (max-width: 461px){
    .addonskit-special-title{
        font-size: 28px;
    }
}